* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  font-size: 14px;
  font-family: "Open Sans", arial, x-locale-body, sans-serif;
}

body {
  min-width: 960px;
  overflow-x: auto;
}

header {
  width: 100%;
  height: 48px;
  background-color: #333;
}

.wrap {
  width: 960px;
  margin: 0 auto;
}

header .logo {
  float: left;
  height: 48px;
  font-size: 16px;
  line-height: 48px;
  color: #fff;
}

header nav {
  float: right;
}

header nav li {
  float: left;
  list-style: none;
}

header nav a {
  display: block;
  width: 100%;
  height: 48px;
  color: #fff;
  margin: 10px;
  line-height: 20px;
}

.carousel {
  position: relative;
  width: 100%;
  height: 170px;
}

.carousel .pic-area {
  width: 100%;
  height: 100%;
}

.carousel .pic-area li {
  position: absolute;
  left: 0;
  ;
  top: 0;
  width: 100%;
  list-style: none;
}

.carousel .pic-area li a {
  display: block;
  width: 100%;
}

.carousel .pic-area li a img {
  display: block;
  width: 100%;
  height: 170px;
  background-color: #66BB33;
}

.carousel .pic-page {
  position: relative;
}

.carousel .pic-page ul {
  position: absolute;
  right: 0;
  bottom: 20px;
}

.carousel .pic-page ul li {
  display: inline-block;
  list-style: none;
  padding: 2px 5px;
  text-align: center;
  background-color: #B2DD99;
  margin-right: 6px;
  vertical-align: bottom;
}

.carousel .pic-page ul li.active {
  background-color: #E0F1D6;
  padding-top: 15px;
}

main .info-box {
  width: 100%;
}
main .info-box .tab {
  height: 42px;
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 5px;
}

main .info-box ul {
  padding-left: 0;
  margin-top: 0;
}

main .info-box .tab li {
  float: left;
  height: 32px;
  list-style-type: none;
  width: 64px;
  margin-top: 10px;
}

main .info-box li a {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  line-height: 3;
  background-color: #eee;
  text-align: center;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border: 1px solid #E1E1E1;
  outline: none;
}

main .info-box li a:active,
main .info-box li a:focus,
main .info-box li a:hover {
  color: #333;
  background-color: #fff;
}

main .info-box li a.active {
  color: #333;
  background-color: #fff;
  border-bottom-color: #fff;
}

main .info-box .panels {
  position: relative;
  clear: both;
}

main .info-box article {
  width: 100%;
  background-color: #fff;
  display: none;
}

main .info-box article .row ul {
  display: flex;
  flex-wrap: wrap;
}
main .info-box article ul li {
  flex: 1;
  padding: 80px;
  list-style-type: none;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #DADADA;
  text-align: center;
}
main .info-box article ul li:last-child {
  margin-right: 0;
}

main .info-box .active-panel {
  display: block;
}

footer {
  height: 68px;
  padding-top: 10px;
  text-align: center;
  color: #fff;
  background-color: #666;
}